# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: 'JavaCro2021 Nordic Lights'

env:
  DOCKER_IMAGE_NAME: "anamarijatn/quarkus-sensor-demo"

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag to deploy. Leave empty to use latest commit."
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

defaults:
  run:
    shell: bash


jobs:
  build_docker_image:
    name: Build Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_API_KEY }}

      - name: Build with Maven
        working-directory: nordic-lights/
        run: mvn package -Dquarkus.package.type=native -Dquarkus.native.container-build=true -Dquarkus.native.builder-image=${{ secrets.DOCKERHUB_USERNAME }}/quarkus-build-aarch64:latest

      - name: Build the tagged Docker image
        working-directory: nordic-lights/
        run: docker build -f ./src/main/docker/Dockerfile.native -t ${{ env.DOCKER_IMAGE_NAME }}:${{ github.sha }} .

      - name: Push the tagged Docker image
        working-directory: nordic-lights/
        run: docker push ${{ env.DOCKER_IMAGE_NAME }}:${{ github.sha }}
#   deploy_kubernetes:
#     name: Deploy to Kubernetes Cluster
#     needs: build_docker_image
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout Repo
#         uses: actions/checkout@v2

#       - name: Set Kubernetes Context
#         uses: azure/k8s-set-context@v1
#         with:
#           method: kubeconfig
#           kubeconfig: ${{ secrets.KUBE_CONFIG }} # Use secret (https://developer.github.com/actions/managing-workflows/storing-secrets/)

#       - name: Deploy to Cluster
#         working-directory: nordic-lights/ops/
#         run: |
#           kubectl apply -f deployment.yml
